<div class="projects-list">
    <mat-card class="project-item" fxLayout="column" fxLayoutAlign="space-between start">
        <mat-card-header>
            <mat-card-title>The Todo List</mat-card-title>
            <mat-card-subtitle>By: Bishopchessmon</mat-card-subtitle>
        </mat-card-header>
        <div class="project-information">
            <div class="project-preview">
                <app-todo-list></app-todo-list>
            </div>
            <mat-card-content>
                <p>
                    Just a random project for feature list
                </p>
            </mat-card-content>
        </div>
        <mat-card-actions class="project-action-buttons">
            <button mat-stroked-button [routerLink]="['todo-list']" routerLinkActive="router-link-active" >
                Open
                <mat-icon>launch</mat-icon>
            </button>
            <span class="spacer"></span>
            <button mat-icon-button>
                <mat-icon>thumb_down</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>thumb_up</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="project-item" fxLayout="column" fxLayoutAlign="space-between start">
        <mat-card-header>
            <mat-card-title>Last Archive: Character List</mat-card-title>
            <mat-card-subtitle>By: Bishopchessmon</mat-card-subtitle>
        </mat-card-header>
        <div class="project-information">
            <div class="project-preview">
                <app-character-list></app-character-list>
            </div>
            <mat-card-content>
                <p>
                    Just a random project for feature list
                </p>
            </mat-card-content>
        </div>
        <mat-card-actions class="project-action-buttons">
            <button mat-stroked-button [routerLink]="['character-list']" routerLinkActive="router-link-active" >
                Open
                <mat-icon>launch</mat-icon>
            </button>
            <span class="spacer"></span>
            <button mat-icon-button>
                <mat-icon>thumb_down</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>thumb_up</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>