<div fxLayout="column" class="component">
    <app-navbar></app-navbar>
    <div fxFlex class="screen-max-width">
        <div fxFlex class="component-body">
            <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="not-found text-center">
                <h3>
                    Not Found
                </h3>
                <p>
                    Sorry, It looks like you've reach the end of the internet
                </p>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>