.component {
    background-image: radial-gradient( 
        #ffffff,
        #00000033
    );
}

.component-body {
    background-color: transparent;
}

.maintenance > h3 {
    font-weight: 500;
    font-size: calc(65px + (115 - 65) * ((100vw - 300px) / (1600 - 370)));
    margin-bottom: 0;
}

.maintenance > h4 {
    font-weight: 500;
    font-size: calc(12px + (30 - 12) * ((100vw - 300px) / (1600 - 370)));
}

.maintenance > p {
    font-weight: 300;
    font-size: calc(8px + (15 - 8) * ((100vw - 300px) / (1600 - 370)));
    text-transform: uppercase;
}